.title {
    color: #0ba4e0;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Courier New', monospace;
    font-size: 180px;
}
.language {
    text-align: right;
    text-decoration: none;
    padding: 10px 20px;
    color: #b500b5;
    font-family: 'Times New Roman';
    font-size: 16px;
    font-weight: bold;
}
.textLink {
    text-decoration: none;
    color: #b500b5;
    size: 50px;
}
.language:hover, .language:active, .textLink:hover, .textLink:active {
    color: #0ba4e0;
}
.subtext {
    text-align: center;
    font-family: 'Courier New', monospace;
    font-size: 30px;
    font-weight: bold;
}

