.link:link, .link:visited {
    background-color: #0ba4e0;
    color: white;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
}

.link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.link:hover, .link:active {
    background-color: white;
    color: #0ba4e0;
  }

.container {
    background-color: #0ba4e0;
    color: white;
}