.link:link, .link:visited {
    background-color: white;
  color: black;
  padding: 10px 20px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
    text-decoration: none;
}

.link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.link:hover, .link:active {
    background-color: navy;
    color: white;
  }

/* .grid:hover {
    background-color: navy;
    color: white;
} */